@import '../../styles/variables';

.container {
  background-color: $color-light-gray;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 0;
}

.topItems {
  display: flex;
  flex-direction: column;
}

.menuItem {
  display: flex;
  cursor: pointer;
  background-color: $color-light-gray;
  transition: all 0.3s ease;

  padding: 12px 24px;
  outline: none;
  text-decoration: none;
  color: $color-green;

  &:hover {
    background-color: rgba($color-green, 0.1);
  }
}
