@font-face {
  font-family: "ms_sans_serif";
  src: url("./assets/w95fa.woff");
}

body {
  margin: 0;
  font-family: system-ui !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #747472;
  /* background: url("./assets/background.png"); */
  background-color: #fafafa;
  background-size: 55px;
}
